*.DS_Store
*.class
*~
*.bak
*.off
*.old
*.java.orig

# Eclipse
.classpath
.project
.settings

# IDEA
*.iml
*.ipr
*.iws
/.idea/

licenseheader.txt
nb-configuration.xml

*/target/
*/nbproject/
/amisc/
/headlands/

/sources/
code-server.env
ssh.env